#left_div {
  float: left;
}

#left {
  float : left;
}

#right {
  float: right;
}

/** fixed the next 3 classes to match the top_edge.html class calls */

.nodes {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer; /** added cursor style */
}

.nodes text {
  font: 9px helvetica;
}

.links {
  stroke: #999;
  stroke-opacity: .6;
}

svg {
  border: 1px solid #ccc;
}

p {
  font-size:  12px;
  font-family: helvetica;
  word-wrap: break-word;
}

#imtable-element {
  width: 50em;
}
